.
  <header class="vendor" id="header" role="banner">
    <div class="header-inner">
      <div class="header-top">
        <div class="logo logo-ja"><a href="https://www.tokyodisneyresort.jp/top.html" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_jp', label: '1段目_ロゴ'}});">TOKYO DISNEY RESORT</a></div>
        <div class="logo logo-en"><a href="https://www.tokyodisneyresort.jp/en/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_en', label: '1段目_ロゴ'}});">TOKYO DISNEY RESORT</a></div>
        <div class="logo logo-sc"><a href="https://www.tokyodisneyresort.jp/sc/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_sc', label: '1段目_ロゴ'}});">TOKYO DISNEY RESORT</a></div>
        <div class="logo logo-tc"><a href="https://www.tokyodisneyresort.jp/tc/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_tc', label: '1段目_ロゴ'}});">TOKYO DISNEY RESORT</a></div>
        <div class="logo logo-kr"><a href="https://www.tokyodisneyresort.jp/kr/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_kr', label: '1段目_ロゴ'}});">TOKYO DISNEY RESORT</a></div>
        <div class="logo logo-th"><a href="https://www.tokyodisneyresort.jp/th/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_th', label: '1段目_ロゴ'}});">TOKYO DISNEY RESORT</a></div>
        <div class="logo logo-id"><a href="https://www.tokyodisneyresort.jp/id/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_id', label: '1段目_ロゴ'}});">TOKYO DISNEY RESORT</a></div>
        <div class="btn-language js-languagemenu"><span>Language</span></div>
        <div class="languagemenu">
          <div class="modalBtnClose"><span>×</span></div>
          <ul>
            <li class="change-ja"><a href="https://www.tokyodisneyresort.jp/top.html">日本語</a></li>
            <li class="change-en"><a href="https://www.tokyodisneyresort.jp/en/">English</a></li>
            <li class="change-sc"><a href="https://www.tokyodisneyresort.jp/sc/">簡体中文</a></li>
            <li class="change-tc"><a href="https://www.tokyodisneyresort.jp/tc/">繁体中文</a></li>
            <li class="change-kr"><a href="https://www.tokyodisneyresort.jp/kr/">한국어</a></li>
            <li class="change-th"><a href="https://www.tokyodisneyresort.jp/th/">ภาษาไทย</a></li>
            <li class="change-id"><a href="https://www.tokyodisneyresort.jp/id/">Bahasa Indonesia</a></li>
          </ul>
          <div class="modalBtnClose_sp">
            <span class="modalBtnClose-ja">閉じる</span>
            <span class="modalBtnClose-en">Close</span>
            <span class="modalBtnClose-sc">关闭</span>
            <span class="modalBtnClose-tc">關閉</span>
            <span class="modalBtnClose-kr">닫기</span>
            <span class="modalBtnClose-th">คลิกเพื่อซ่อนข้อความ</span>
            <span class="modalBtnClose-id">Tutup</span>
          </div>
        </div>
      </div>
      <div class="header-globalmenu">
        <!-- ja -->
        <ul class="globalmenu-ja">
          <li class="gmenu-tdr"><a href="https://www.tokyodisneyresort.jp/top.html" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_jp', label: '1段目_HOME'}});"><span>HOME</span></a></li>
          <li class="gmenu-tdl"><a href="http://www.tokyodisneyresort.jp/tdl/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_jp', label: '1段目_東京ディズニーランド'}});"><span class="mobile-low2">東京<br class="mobile-block">ディズニーランド</span></a></li>
          <li class="gmenu-tds"><a href="http://www.tokyodisneyresort.jp/tds/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_jp', label: '1段目_東京ディズニーシー'}});"><span class="mobile-low2">東京<br class="mobile-block">ディズニーシー</span></a></li>
          <li class="gmenu-hotel"><a href="https://www.tokyodisneyresort.jp/hotel/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_jp', label: '1段目_ホテル'}});"><span>ホテル</span></a></li>
          <li class="gmenu-reserve"><a href="https://reserve.tokyodisneyresort.jp/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_jp', label: '1段目_予約/購入'}});"><span>予約 / 購入</span></a></li>
        </ul><!-- /ja -->

        <!-- en -->
        <ul class="globalmenu-en">
          <li class="gmenu-tdr"><a href="https://www.tokyodisneyresort.jp/en/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_en', label: '1段目_HOME'}});"><span>Top Page</span></a></li>
          <li class="gmenu-tdl"><a href="https://www.tokyodisneyresort.jp/en/tdl/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_en', label: '1段目_東京ディズニーランド'}});"><span class="mobile-low2">Tokyo <br class="mobile-block">Disneyland</span></a></li>
          <li class="gmenu-tds"><a href="https://www.tokyodisneyresort.jp/en/tds/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_en', label: '1段目_東京ディズニーシー'}});"><span class="mobile-low2">Tokyo <br class="mobile-block">DisneySea</span></a></li>
          <li class="gmenu-hotel"><a href="https://www.tokyodisneyresort.jp/en/hotel/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_en', label: '1段目_ホテル'}});"><span>Hotels</span></a></li>
          <li class="gmenu-reserve"><a href="https://reserve.tokyodisneyresort.jp/en/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_en', label: '1段目_予約/購入'}});"><span class="low2">Reservations<br>&amp; Tickets</span></a></li>
        </ul><!-- /en -->

        <!-- sc -->
        <ul class="globalmenu-sc">
          <li class="gmenu-tdr"><a href="https://www.tokyodisneyresort.jp/sc/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_sc', label: '1段目_HOME'}});"><span>首页</span></a></li>
          <li class="gmenu-tdl"><a href="https://www.tokyodisneyresort.jp/sc/tdl/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_sc', label: '1段目_東京ディズニーランド'}});"><span class="mobile-low2">东京<br class="mobile-block">迪士尼乐园</span></a></li>
          <li class="gmenu-tds"><a href="https://www.tokyodisneyresort.jp/sc/tds/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_sc', label: '1段目_東京ディズニーシー'}});"><span class="mobile-low2">东京<br class="mobile-block">迪士尼海洋</span></a></li>
          <li class="gmenu-hotel"><a href="https://www.tokyodisneyresort.jp/sc/hotel/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_sc', label: '1段目_ホテル'}});"><span>饭店</span></a></li>
          <li class="gmenu-reserve"><a href="https://reserve.tokyodisneyresort.jp/en/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_sc', label: '1段目_予約/購入'}});"><span>网上预约＆购票</span></a></li>
        </ul><!-- /sc -->

        <!-- tc -->
        <ul class="globalmenu-tc">
          <li class="gmenu-tdr"><a href="https://www.tokyodisneyresort.jp/tc/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_tc', label: '1段目_HOME'}});"><span>東京迪士尼度假區</span></a></li>
          <li class="gmenu-tdl"><a href="https://www.tokyodisneyresort.jp/tc/tdl/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_tc', label: '1段目_東京ディズニーランド'}});"><span class="mobile-low2">東京<br class="mobile-block">迪士尼樂園</span></a></li>
          <li class="gmenu-tds"><a href="https://www.tokyodisneyresort.jp/tc/tds/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_tc', label: '1段目_東京ディズニーシー'}});"><span class="mobile-low2">東京<br class="mobile-block">迪士尼海洋</span></a></li>
          <li class="gmenu-hotel"><a href="https://www.tokyodisneyresort.jp/tc/hotel/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_tc', label: '1段目_ホテル'}});"><span>飯店住宿</span></a></li>
          <li class="gmenu-reserve"><a href="https://reserve.tokyodisneyresort.jp/en/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_tc', label: '1段目_予約/購入'}});"><span>線上預約＆購票</span></a></li>
        </ul><!-- /tc -->

        <!-- kr -->
        <ul class="globalmenu-kr">
          <li class="gmenu-tdr"><a href="https://www.tokyodisneyresort.jp/kr/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_kr', label: '1段目_HOME'}});"><span>HOME</span></a></li>
          <li class="gmenu-tdl"><a href="https://www.tokyodisneyresort.jp/kr/tdl/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_kr', label: '1段目_東京ディズニーランド'}});"><span class="mobile-low2">도쿄<br class="mobile-block">디즈니랜드</span></a></li>
          <li class="gmenu-tds"><a href="https://www.tokyodisneyresort.jp/kr/tds/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_kr', label: '1段目_東京ディズニーシー'}});"><span class="mobile-low2">도쿄<br class="mobile-block">디즈니씨</span></a></li>
          <li class="gmenu-hotel"><a href="https://www.tokyodisneyresort.jp/kr/hotel/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_kr', label: '1段目_ホテル'}});"><span>호텔</span></a></li>
          <li class="gmenu-reserve"><a href="https://reserve.tokyodisneyresort.jp/en/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_kr', label: '1段目_予約/購入'}});"><span>예약/예매</span></a></li>
        </ul><!-- /kr -->

        <!-- th -->
        <ul class="globalmenu-th">
          <li class="gmenu-tdr"><a href="https://www.tokyodisneyresort.jp/th/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_th', label: '1段目_HOME'}});"><span class="low2">โตเกียวดิสนีย์รีสอร์ท<br>Top Page</span></a></li>
          <li class="gmenu-tdl"><a href="https://www.tokyodisneyresort.jp/th/tdl/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_th', label: '1段目_東京ディズニーランド'}});"><span class="mobile-low2">โตเกียว<br class="mobile-block">ดิสนีย์แลนด์</span></a></li>
          <li class="gmenu-tds"><a href="https://www.tokyodisneyresort.jp/th/tds/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_th', label: '1段目_東京ディズニーシー'}});"><span class="mobile-low2">โตเกียว<br class="mobile-block">ดิสนีย์ซี</span></a></li>
          <li class="gmenu-hotel"><a href="https://www.tokyodisneyresort.jp/th/hotel/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_th', label: '1段目_ホテル'}});"><span>โรงแรม</span></a></li>
          <li class="gmenu-reserve"><a href="https://reserve.tokyodisneyresort.jp/en/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_th', label: '1段目_予約/購入'}});"><span class="low2">สำรองที่พัก/<br>ซื้อบัตรทางออนไลน์</span></a></li>
        </ul><!-- /th -->

        <!-- id -->
        <ul class="globalmenu-id">
          <li class="gmenu-tdr"><a href="https://www.tokyodisneyresort.jp/id/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_id', label: '1段目_HOME'}});"><span>BERANDA</span></a></li>
          <li class="gmenu-tdl"><a href="https://www.tokyodisneyresort.jp/id/tdl/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_id', label: '1段目_東京ディズニーランド'}});"><span class="mobile-low2">Tokyo <br class="mobile-block">Disneyland</span></a></li>
          <li class="gmenu-tds"><a href="https://www.tokyodisneyresort.jp/id/tds/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_id', label: '1段目_東京ディズニーシー'}});"><span class="mobile-low2">Tokyo <br class="mobile-block">DisneySea</span></a></li>
          <li class="gmenu-hotel"><a href="https://www.tokyodisneyresort.jp/id/hotel/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_id', label: '1段目_ホテル'}});"><span>Hotel</span></a></li>
          <li class="gmenu-reserve"><a href="https://reserve.tokyodisneyresort.jp/en/" onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'renewal2018', action: 'globalnavi_click_id', label: '1段目_予約/購入'}});"><span class="low2">Reservasi /<br>Pembelian</span></a></li>
        </ul><!-- /id -->
      </div>
    </div>
  </header>
