@charset "utf-8";

@import url("event_p.css");

@import url("event_s.css");

body {
    visibility: hidden;
}

.pc {
    display: none;
}

.spn {
    display: none;
}

.body_pc .pc {
    display: block;
}

.body_spn .spn {
    display: block;
}