clearfix()
  +cache('clearfix')
    &::after
      content ''
      display block
      clear both

#content-area
  position relative
  clear both
  // background url('../images/bg.png') 50% 0 repeat
  background linear-gradient(#c1d5e4, #e6d4eb)

  a
    transition all 0.3s

    &:hover
      opacity 0.7

  *
    box-sizing border-box
    font-family '游明朝体', 'Yu Mincho', YuMincho, 'ヒラギノ明朝 Pro', 'Hiragino Mincho Pro', 'MS P明朝', 'MS PMincho', serif

  .sec-inner
    position relative
    // z-index: 70
    overflow hidden

.sec-block
  h2
    text-indent 100%
    white-space nowrap
    overflow hidden
    line-height 0

  h3
    text-indent 100%
    white-space nowrap
    overflow hidden
    line-height 0

clearfix()
  +cache('clearfix')
    &::after
      content ''
      display block
      clear both

.sec-kv
  width 100%
  position relative

  +pc()
    height 0
    // padding-top per(1316, 750)
    padding-top per(1134, 750)

  +sp()
    max-width 100% !important
    min-width 100% !important
    width 100%
    overflow hidden
    position relative
    // padding-top per(1320, 750)
    padding-top per(1134, 750)

    @media screen and (min-width: 376px)
      padding-top per(1100, 750)

  &__content
    // background url('../images/kv.jpg') 50% 0 no-repeat
    background url('../images/kv.jpg') 50% 0 no-repeat
    background-size 100% auto

    +sp()
      // background url('../images/kv_sp.jpg') 50% 100% no-repeat
      // background-size 120% auto
      background url('../images/kv.jpg') 50% 0 no-repeat
      background-size cover
      // background-size 100% auto
      width 100%
      height 100%

    width 100%
    height 100%
    position absolute
    top 0
    left 0
    opacity 0
    transition 4s all ease

    &.is-show
      opacity 1

    &__inner
      positon relative
      padding per(120) per(30) 0

      +sp()
        padding per(62) per(80) 0

  &__title
    background url('../images/img_kv_title.png') 50% 0 no-repeat
    background-size 100% auto
    width per(509, 690)
    height 0
    padding-top per(39, 509)
    margin 0 0 per(50, 690) per(24, 690)
    opacity 0
    transition 3s all ease
    transform translateY(20px)

    // font-size 4.2rem
    // line-height 1
    // margin-bottom 50px
    // letter-spacing 8px
    +sp()
      background url('../images/img_kv_title_sp.png') 50% 0 no-repeat
      background-size 100% auto
      width per(508, 590)
      padding-top per(39, 508)
      margin 0 0 per(50, 590)

    &.is-show
      opacity 1
      transform translateY(0)

  &__lead
    background url('../images/img_kv_lead.png') 50% 0 no-repeat
    background-size 100% auto
    width per(483, 690)
    height 0
    padding-top per(813, 690)
    margin 0 0 per(40, 690) per(24, 690)
    opacity 0
    transition 3s all ease
    transform translateY(20px)

    +sp()
      background url('../images/img_kv_lead_sp.png') 50% 0 no-repeat
      background-size 100% auto
      width per(483, 590)
      height 0
      padding-top per(813, 590)
      margin 0

    &.is-show
      opacity 1
      transform translateY(0)

  &__logo
    background url('../images/logo.png') 50% 0 no-repeat
    background-size 100% auto
    width 248px
    height 120px
    position absolute
    top 846px
    right 30px
    opacity 0
    transition 3s all ease
    transform translateY(20px)

    +sp()
      background url('../images/logo.png') 50% 0 no-repeat
      background-size 100% auto
      width per(220, 750)
      height 0
      padding-top per(107, 750)
      // top per(769,1106)
      // top per(763,1106)
      // top per(107,763)
      // top per(667,1000)
      // top per(769,1106)
      top per(492, 788)
      right per(40)

    &.is-show
      opacity 1
      transform translateY(0)

  &__scroll
    position absolute
    bottom 0
    left 0
    width 100%
    padding 0 0 55px
    font-family sans-serif !important
    font-size 12px
    font-weight 300
    color #fff
    text-align center
    letter-spacing 0.08em
    transform translateY(20px)
    opacity 0
    transition 3s all ease

    +sp()
      padding 0 0 50px

    &.is-show
      opacity 1
      transform translateY(0)

    &:after
      position absolute
      right 0
      bottom 0
      left 0
      display block
      width 2px
      height 40px
      margin 0 auto
      content ''
      background-color #fff

      +sp()
        width 1px

.sec-info
  // width per(690)
  width per(505, 550)
  margin 78px auto 120px

  +sp()
    width per(590)
    margin per(90) auto per(120)
    // margin per(50) auto per(120)

  &__brn
    display flex
    flex-wrap nowrap
    justify-content space-between
    // margin-bottom per(80)
    margin-bottom per(58, 505)

    +sp()
      flex-direction column
      margin-bottom per(90, 590)

    li
      +pc()
        // width per(330, 690)
        width per(242, 505)
        // height 90px
        height 66px

      +sp()
        // width 100%
        width per(606, 590)
        height auto
        line-height 0

      &:nth-of-type(1)
        +sp()
          margin-bottom per(40, 590)

        a
          background url('../images/img_btn_about.png') 50% 0 no-repeat
          background-size 100% auto

          +sp()
            background url('../images/img_btn_about_sp.png') 50% 0 no-repeat
            background-size 100% auto

      &:nth-of-type(2)
        a
          background url('../images/img_btn_news.png') 50% 0 no-repeat
          background-size 100% auto

          +sp()
            background url('../images/img_btn_news_sp.png') 50% 0 no-repeat
            background-size 100% auto

      a
        display block
        width 100%
        height 100%
        text-indent 100%
        white-space nowrap
        overflow hidden

        +sp()
          padding-top per(196, 606)

  &__sns
    display flex
    flex-wrap nowrap
    justify-content space-between
    width per(414, 590)
    margin 0 auto per(100, 590)

    +pc()
      // width per(164, 690)
      width per(164, 505)
      // margin 0 auto per(40)
      margin 0 auto per(58, 505)

    li
      width 66px
      height 66px

      +sp()
        width per(88, 414)
        height 100%

      &:last-child
        +pc()
          display none

    a
      display block
      text-indent 100%
      white-space nowrap
      overflow hidden

      +sp()
        padding-top per(88, 88)

      &.tw
        background url('../images/ico_tw.png') 50% 0 no-repeat
        background-size 100% auto
        width 100%
        height 100%

      &.fb
        background url('../images/ico_fb.png') 50% 0 no-repeat
        background-size 100% auto
        width 100%
        height 100%

      &.line
        background url('../images/ico_line.png') 50% 0 no-repeat
        background-size 100% auto
        width 100%
        height 100%

        +pc()
          display none

  &__desc
    *
      font-size 1.4rem

    +sp()
      margin 0 per(-45, 590)

    p:nth-of-type(1)
      margin-bottom 20px

      +sp()
        margin-bottom per(20, 680)

    li
      line-height 2

.sec-inner
  width 100%
  max-width 550px
  margin auto
  background-color #fff

#page-top
  position fixed
  bottom 20px
  right 20px

  a
    position fixed
    right 20px
    bottom 20px
    z-index 100
    background-color #999
    opacity 0.8
    width 50px
    height 50px
    border-radius 50%
    border none
    color #fff

    &:before
      content ''
      display block
      position absolute
      top 54%
      left 50%
      transform translate(-50%, -50%) rotate(-45deg)
      width 8px
      height 8px
      border-top solid 2px #fff
      border-right solid 2px #fff

  &:hover
    cursor pointer

.scroll-top
  position fixed
  right 20px
  bottom 20px
  z-index 100
  background-color #999
  opacity 0.8
  width 50px
  height 50px
  border-radius 50%
  border none
  color #fff

  &:hover
    cursor pointer
