.modal
  &__overlay
    position fixed
    opacity 0
    z-index 0
    top 0
    bottom 0
    left 0
    right 0
    background-color #000
    visibility hidden
    transition ease 0.25s opacity, ease 0.25s visibility

    &.is-show
      z-index 10
      opacity 0.8
      visibility visible

  &__content
    position fixed
    opacity 0
    z-index 0

    &.is-show
      overflow auto
      top 0
      bottom 0
      left 0
      right 0
      z-index 11
      opacity 1

  &__close
    position absolute
    z-index 0
    width 46px
    height 46px
    transition ease 0.25s opacity
    background #fff
    border-radius 23px

    +sp()
      width 24px
      height 24px
      border-radius 12px

    &:before,
    &:after
      content ''
      position absolute
      display inline-block
      top 2px
      left 22px
      width 2px
      height 42px
      background-color #1b1b1b

      +sp()
        top 1px
        left 12px
        width 1px
        height 22px

    &:before
      transform rotate(45deg)

    &:after
      transform rotate(-45deg)

    &.is-show
      // top -60px
      // right 0
      top -10px
      right -10px
      z-index 12
      opacity 1

      +pc()
        top -19px
        right -17px

  &__wrap
    position relative
    opacity 0
    z-index 0

    &.is-show
      z-index 12
      opacity 1
      left 50%
      top 50%
      // width 80%
      // width 60%
      width 626px
      transform translate(-50%, -50%)

      +sp()
        width per(626)

  &__inner
    width 100%
    // padding-top 56.25%
    // padding-top 150%
    padding-top 940px

    +sp()
      padding-top per(1126)

  &__photo
    position absolute
    top 0
    bottom 0
    left 0
    right 0

    img
      // width 50%
      // height 50%
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      width 100%

  &__movie iframe
    position absolute
    top 0
    bottom 0
    left 0
    right 0
